<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
		<title>Hello, world!</title>
	</head>
	<body style="padding-top: 56px">
		<nav class="navbar fixed-top navbar-light bg-light">
			<a class="navbar-brand" href="/">Home</a>

			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="/rss">RSS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/file-drop">File drop</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">Set Key</a>
				</li>
			</ul>
		</nav>

		<div class="container">
			{{{layout.body}}}
		</div>
	</body>
</html>